main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1 rem;
}

.resizedImage {
  width: 30rem; /* You can set the dimensions to whatever you want */
  height: 30rem;
  object-fit: cover;
}
